@import '../base/settings';

@mixin primary-btn {
  width: 10em;
  padding: 0.4em;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1.2em;
  border: $light-blue-accent-color 3px solid;
  margin-bottom: 1.4em;
}

@mixin secondary-btn {
  width: 12em;
  padding: 0.8em 1em;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.1em;
}

@mixin secondary-btn-desktopNav {
  width: fit-content;
  padding: 0.5em;
}

.primary-button {
  &.light-theme {
    background-color: $light-bg-button;
    color: $dark-blue-accent-color;
    @include primary-btn;
    // margin-bottom: 1.4em;
  }

  &.dark-theme {
    background-color: $dark-bg-button;
    color: $light-text-main;
    margin-bottom: 1.4em;
    @include primary-btn;
  }
}

a.button-link {
  &.dark-theme:visited {
    color: $light-text-main;
  }
}

.secondary-button {
  display: flex;
  align-items: center;
  gap: 1.4em;

  &.light-theme {
    background-color: $light-bg-main;
    color: $dark-bg-main;
    border: $light-text-main 3px solid;
    @include secondary-btn;
  }

  &.dark-theme {
    background-color: $dark-bg-main;
    color: $light-bg-nav;
    border: $dark-text-main 3px solid;
    @include secondary-btn;
  }
}

.input-container input {
  width: 100%;
  border: none;
  font-size: 1rem;

  // font-family: inherit;

  &.light-theme {
    background-color: $light-bg-main;

    &::placeholder {
      color: $dark-bg-main;
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  &.dark-theme {
    background-color: $dark-bg-main;

    &::placeholder {
      color: $light-bg-nav;
    }
  }
}

.light-icon {
  fill: $dark-blue-accent-color;
}

.dark-icon {
  fill: $light-bg-button;
}

//Desktop Navigation button
.navigation {
  &-desktop {
    .secondary-button {
      &.light-theme,
      &.dark-theme {
        @include secondary-btn-desktopNav;
      }
    }
    .input-container {
      display: none;
    }
  }

  &-btn-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  &-link-box {
    place-items: center;
    gap: 1rem;
  }

  &-link-number {
    padding-right: 0.3em;
  }
}

#projects,
#lab,
#contact {
  height: 100vh;
}

#projects {
  background-color: rgb(30, 0, 255);
}
