@import '../base/settings';

@mixin primary-btn {
  width: 10em;
  padding: 0.4em;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 1.4em;
}

// @mixin secondary-btn {
//   width: 12em;
//   padding: 0.8em 1em;
//   border-radius: 40px;
//   font-weight: 500;
//   font-size: 1.1em;
// }

// @mixin secondary-btn-desktopNav {
//   width: fit-content;
//   padding: 0.5em;
// }

.input-container input {
  width: 100%;
  border: none;
  font-size: 1rem;
}

// .light-icon {
//   fill: $dark-blue-accent-color;
// }

// .dark-icon {
//   fill: $light-bg-button;
// }

//Desktop Navigation button
.navigation {
  &-desktop {
    .input-container {
      display: none;
    }
  }

  &-btn-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  &-link-box {
    place-items: center;
    gap: 1rem;
  }

  &-link-number {
    padding-right: 0.3em;
  }
}

.navigation .themeMobile {
  padding: 1.5em;
}
.header .navigation-btn-container .theme-toggle-desktop {
  padding: 1rem;
  border-radius: 50%;
}

//Dark theme
.dark {
  a.button-link:visited {
    color: $light-text-main;
  }

  .primary-button {
    border: $purple-accent-color 2px solid;
    color: $light-text-main;
    margin-bottom: 1.4em;
    @include primary-btn;
  }

  // .secondary-button {
  //   background-color: $dark-bg-main;
  //   color: $light-bg-nav;
  //   border: $dark-text-main 3px solid;
  //   @include secondary-btn;
  // }

  .navigation-desktop {
    .secondary-button {
      // @include secondary-btn-desktopNav;
    }
  }

  .input-container input {
    background-color: $dark-bg-main;

    &::placeholder {
      color: $light-bg-nav;
    }
  }
}

//Light theme

.light {
  .primary-button {
    border: $teal-accent-color 2px solid;
    background-color: $light-bg-button;
    color: $dark-blue-accent-color;
    @include primary-btn;
  }

  // .secondary-button {
  //   background-color: $light-bg-main;
  //   color: $dark-bg-main;
  //   border: $light-text-main 3px solid;
  //   @include secondary-btn;
  // }

  .navigation-desktop {
    // .secondary-button {
    //   @include secondary-btn-desktopNav;
    // }
  }

  .input-container input {
    background-color: $light-bg-main;

    &::placeholder {
      color: $dark-bg-main;
      font-size: 1.1em;
      font-weight: 500;
    }
  }
}

// .secondary-button {
//   display: flex;
//   align-items: center;
//   gap: 1.4em;
// }
