@import '../base/settings';

.contact {
  margin-top: 3rem;
  padding-bottom: 11rem;

  &-icon {
    width: 3rem;
    height: 3rem;
    fill: #3e75c3;
    fill: #007bbc;
  }
  &-icons-box {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  &-text {
    padding-bottom: 2rem;
  }
}

@include mq(600) {
  .contact {
    max-width: 27rem;
  }
}

@include mq(768) {
  .contact {
    &-section {
      display: flex;
      justify-content: center;
    }
  }
}
