header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

// .logo-container,
.logo-header {
  z-index: 1;
}

// .sticky {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 999;
// }

// .mb {
//   margin-bottom: 68px;
// }
