.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.introduction-logo {
  width: 13rem;
}

body {
  // background: #0b192e;
}

.st1 {
  stroke: #5d64ae;
  fill: transparent;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: firstMAnimation 2s linear forwards;
}

@keyframes firstMAnimation {
  to {
    stroke-dashoffset: 0;
    fill: #5d64ae;
  }
}

.st2 {
  stroke: #1da6bc;
  fill: transparent;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: secondMAnimation 2s linear forwards;
}

@keyframes secondMAnimation {
  to {
    stroke-dashoffset: 0;
    fill: #1da6bc;
  }
}

.st3 {
  fill: #1da6bc;
  stroke: #1da6bc;
  fill: transparent;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: thirdMAnimation 2s linear forwards;
}

@keyframes thirdMAnimation {
  to {
    stroke-dashoffset: 0;
    fill: #1da6bc;
  }
}
