.navigation-container {
  position: relative;

  button {
    border: none;
    height: 0;
    //this is my trick to remove the weird shadow
    //created by the headlessUI Button component
  }
}

.navigation[data-headlessui-state='open'] {
  animation: slideInMenu 0.5s ease forwards;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
  position: absolute;
  transform: translateX(100%);
  top: 100%;
  right: -16px;
  padding-top: 2em;
  height: 70vh;
  width: 70vw;

  &-language-container-mobile {
    display: flex;
    gap: 1rem;
  }

  .nav-link {
    text-align: center;
  }

  // &-button {
  //   border: none;

  // }

  &-link-number {
    display: block;
  }

  &-separator {
    width: 60%;
    height: 2px;
  }

  .language-container-mobile {
    gap: 1rem;
  }

  &-language-container {
    // display: flex;
    gap: 1rem;

    & > button {
      border: none;
      background-color: transparent;
    }
    .flag-box {
      width: 3rem;
    }
  }
}

.nav-button {
  display: block;
  margin-top: 0.6em;
}

@keyframes slideInMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

//Destop styles
.navigation {
  &-desktop {
    display: grid;
    grid-template-columns: 2fr 1.2fr 2rem;
    place-items: center;

    .nav-button {
      margin-top: 0;
    }

    .navigation {
      &-link-box {
        display: flex;
        .nav-link > span {
          display: inline-block;
        }
        .navigation-btn-container {
          grid-column: 2/3;
        }
      }
      &-language-container {
        // display: flex;
        // flex-wrap: wrap;

        &-desktop {
          gap: 1.5rem;
          grid-column: 3/4;
        }
      }
    }
  }
}
