.navigation-container {
  position: relative;
}

.opened .navigation {
  animation: slideInMenu 0.5s ease forwards;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
  position: absolute;
  transform: translateX(100%);
  top: 100%;
  right: -16px;
  padding-top: 2em;
  height: 100vh;
  width: 70vw;

  .nav-link {
    text-align: center;
  }

  &-button {
    border: none;
    height: 0;
    //this is my trick to remove the weird shadow
    //created by the headlessUI Button component
  }

  &-link-number {
    display: block;
  }

  &-separator {
    width: 60%;
    height: 2px;
  }
}

.nav-button {
  display: block;
  margin-top: 0.6em;
}

@keyframes slideInMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

//Destop styles
.navigation {
  &-desktop {
    display: flex;

    .nav-button {
      margin-top: 0;
    }

    .navigation {
      &-language-container {
        display: flex;
        flex-wrap: wrap;
        width: 10%;
        gap: 1em;
      }

      &-link-box {
        display: flex;
        place-items: center;
      }
    }
  }
}
