@import '../base/settings';

.parallax-container {
  padding: 1rem 0.7rem;
}

.section-title {
  padding-bottom: 1.2em;
  font-weight: 500;
}

.parallax-link-number,
.title-text {
  font-size: 1.8rem;
}

.dark {
  .title-text {
    color: $light-bg-nav;
  }
}

.light {
  .title-text {
    color: $dark-bg-main;
    color: #3c3c3c;
  }
}

@media (min-width: 48em) {
  .parallax-container {
    display: grid;
    grid-template-columns: 3fr 130px;
    grid-template-areas: 'section navigation';
  }
}

@include mq(1050) {
  .parallax-container {
    grid-template-columns: 3fr 200px;
  }
}

@include mq(1200) {
  .parallax-container {
    grid-template-columns: 3fr 300px;
  }
}

@include mq(600) {
  .section-title {
    padding-left: 1.5rem;
  }

  .parallax-container {
    padding: 1rem;
  }
}
