@import '../base/settings';

.accordion {
  &-title {
    font-size: 1.3rem;
  }

  &-intro {
    margin-bottom: 1rem;
  }
  &-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: black solid 1px;
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: $light-bg-button;
  }

  &-icon {
    fill: #13385c;
    font-size: 1.6rem;
  }

  &-paragraph {
    padding-bottom: 1rem;

    &.content:first-of-type {
      margin-bottom: 1rem;
    }
  }
}

.project-id-1 {
  .tab-content img:first-of-type {
    width: 6.25rem;
    margin: 0 auto;
    display: block;
    padding-bottom: 3rem;
  }

  .tab-content {
    img {
      padding-bottom: 1rem;
    }
    .img-box {
      padding-bottom: 2rem;
      a,
      a:visited {
        text-align: center;
        display: block;
      }
    }
  }
}

.sub-category-container {
  // padding: -0.9rem 0 1rem 0;
  display: flex;
  justify-content: center;
  border-radius: 7rem;
  overflow: hidden;
  align-items: stretch;
  margin: 2rem 0;
}

.sub-category-button {
  // color: #fff;
  border: none;
  padding: 0.9rem 0.1rem;
  background-color: transparent;
  cursor: pointer;
  flex: 1;
}

.sub-category-button.active {
  border-radius: 5rem;
}

.project-details {
  &-box {
    padding: 0.5rem;
  }
  &-title {
    text-align: center;
    padding: 2rem;
    font-size: clamp(2rem, 4vw, 5rem);
  }

  &-img {
    border-radius: 8px;
    padding: 0;
  }

  &-cta-box {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }

  &-overview-title {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 1rem 1rem 1rem;
  }

  &-overview-paragraph {
    padding-bottom: 1rem;
  }
}

h5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 1.1rem;
}

/////////////////////////Light theme/////////////////////

.light {
  .accordion {
    &-tab {
      background-color: $light-bg-button;
    }

    &-icon {
      fill: $light-text-main;
    }
  }

  .sub-category-container,
  .sub-category-button.active {
    background-color: #13385c99;
  }

  .sub-category-button {
    color: #fff;
  }
}

//Dark theme

.dark {
  .project-icon-wrapper,
  .project-details-overview-title,
  .project-details-title {
    color: $dark-heading-primary;
  }
  .accordion {
    &-tab {
      background-color: $dark-blue-accent-color;
    }

    &-icon {
      fill: $dark-bg-button;
    }

    &-title {
      color: $dark-bg-button;
    }
  }

  .sub-category-container,
  .sub-category-button.active {
    // background-color: #153a5f99;
    background-color: #115da999;
  }

  .sub-category-button {
    color: #fff;
  }

  .tab-content {
    a {
      text-decoration: underline;
    }
    a:visited {
      color: $purple-accent-color;
    }
  }
}

.image-container {
  max-width: 325px;
  margin: 0 auto;
}
@include mq(500) {
  .image-container {
    // padding: 2rem;
    max-width: 500px;
  }
}

@include mq(767) {
  .image-container {
    padding: 2rem;
    max-width: 900px;
  }
}

@include mq(1200) {
  .image-container {
    max-width: 1200px;
  }
}
