@import '../base/settings';

.accordion {
  &-title {
    font-size: 1.3rem;
  }
  &-tab {
    display: flex;
    justify-content: space-between;
    border: black solid 1px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: $light-bg-button;
  }

  &-icon {
    fill: #13385c;
    font-size: 1.6rem;
  }
}

.project-details {
  &-title {
    text-align: center;
    padding: 2rem;
  }

  &-img {
    border-radius: 8px;
  }

  &-cta-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.light {
  .accordion {
    &-tab {
      background-color: $light-bg-button;
    }

    &-icon {
      fill: $light-text-main;
    }
  }
}

.dark {
  .accordion {
    &-tab {
      background-color: $dark-blue-accent-color;
    }

    &-icon {
      fill: $dark-bg-button;
    }

    &-title {
      color: $dark-bg-button;
    }
  }
}

// .container {
//   display: flex;
//   justify-content: center;
// }
.code-snippet-container {
  width: 18.75em;
}
